.buildpath
.project
.settings

web/bundles/
*/bootstrap.php.cache
*/cache/*
*/logs/*
build/
vendor/
composer.phar
*/propel/sql
*.sublime-*

src/*/*Bundle/Model/*/map/*
src/*/*Bundle/Model/*/om/*

bin/behat
web/css/*
web/js/*

